{% extends '::base.html.twig' %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, staticTop: false, inverse: true } %}
        {% block brand %}
            <a class="navbar-brand insalade-navbar-name" href="{{ path('homepage') }}">insalade</a>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('AppBundle:Builder:mainMenu') }}
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block container %}
    <div class="content">
    {% block content %}

    {% endblock content %}
    </div>
{% endblock container %}