{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Need help ?</h1>

    <p>
        Si tu rencontres un problème avec le site, n'hésite pas à contacter Hyukchan !<br />
        hkwon@insa-rennes.fr
    </p>
{% endblock content %}