body {
    background-color: #e7e9e8;
    font-family: 'Lato', sans-serif;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../bundles/app/fonts/Pacifico.ttf');
}

div.content {
    margin-top: 50px;
    padding: 50px;
}

@media screen and (max-device-width: 640px) {
    div.content {
        margin-top: 100px;
        padding: 0px;
    }
}

.navbar-header a.insalade-navbar-name {
    font-family: 'Pacifico';
    font-size: 24px;
    color: #64cd40;
}

.navbar-header a.insalade-navbar-name:hover {
    color: #64cd40;
}

.float-none {
    float: none;
}

.hidden {
    visibility: none;
}

.text-center {
    text-align: center;
}

.autoResizeImage {
    max-width: 100%;
    height: auto;
}

.no-margin {
    margin: 0;
}

.no-border {
    border: 0;
}